/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Hero Style */
.cta-btn--hero {
  background-image: linear-gradient(135deg, $dark-green-color 0%, $light-green-color 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, $dark-green-color 0%, $light-green-color 100%);
  border-image-slice: 1;
  cursor: pointer;
  // Responsive Button hero style
  @include respond(phone) {
    // background-image: none;
    border: 2px solid $light-green-color;
    -webkit-text-fill-color: $light-green-color;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: $black-color;
  }

  &::after {
    background-image: linear-gradient(135deg, $dark-green-color 0%, $light-green-color 100%);
    // Responsive Button hero style
    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: $black-color;
    text-decoration: none;
    // Responsive Button hover hero style
    @include respond(phone) {
      // -webkit-text-fill-color: $light-green-color;
      transform: scale(0.95);
    }

    &::after {
      width: 100%;
    }
  }
}

// Our work/projects btns
.cta-btn--projects {
  @extend .cta-btn--hero;
  background-clip: unset;
  background-image: linear-gradient(135deg, $light-green-color 0%, $dark-green-color 100%);
  // background-color: $dark-green-color;
  -webkit-text-fill-color: $black-color;

  &:hover {
    transform: scale(0.95);
  }
}

/* Resume Style */
.cta-btn--resume {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }

  &:hover {
    color: $black-color;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}

// Submit btn
.submit-btn {
  padding: 10px;
  margin-top: 16px;
  background-color: #7df011;
  font-size: 19px;
  border: none;
  border-radius: 5px;

  &:hover {
    transform: scale(0.98);
  }
}
