// COLORS
$primary-color: #0e4c8e;
$secondary-color: #0f75bd;
$third-color: #66d3fa;
$fourth-color: #d5f3fe;

$light-green-color: #88ea2c;
$dark-green-color: #75da16;

$white-color: #fff;
$black-color: rgb(0, 0, 0);

$dark-grey: #333333;

$light-blue-text: #e6f6fc;
$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
